<div class="search-bars-container">
    <div class="input-container">
        <app-single-search-bar (infoSearched)="getAuthorName($event)"></app-single-search-bar>
        <label class="label" for="fname" id="label-fname">
            <div class="text">Auteur</div>
        </label>
    </div>

    <div class="input-container">
        <app-single-search-bar (infoSearched)="getIllustratorName($event)"></app-single-search-bar>
        <label class="label" for="fname" id="label-fname">
            <div class="text">Illustrateur</div>
        </label>
    </div>

    <div class="input-container">
        <app-single-search-bar (infoSearched)="getEditorName($event)"></app-single-search-bar>
        <label class="label" for="fname" id="label-fname">
            <div class="text">Editeur</div>
        </label>
    </div>

    <div class="input-container">
        <app-single-search-bar (infoSearched)="getCollectionName($event)"></app-single-search-bar>
        <label class="label" for="fname" id="label-fname">
            <div class="text">Collection</div>
        </label>
    </div>
</div>

<div class="grid">
    <app-book *ngFor="let bookElement of books$ | async"
    [book]="bookElement"></app-book>
</div>

<div class="loader-container">
    <mat-spinner></mat-spinner>
</div>

<!-- <div>
    <pagination-controls
      previousLabel="Précédent"
      nextLabel="Suivant"
      [responsive]="true"
      (pageChange)="getPageChange($event)"
    ></pagination-controls>
</div> -->

<div>
    <button (click)="onPrevious()">Précédent</button>
    <button (click)="onNext()">Suivant</button>
</div>

