<ng-container *ngIf="isModified == false">
    <div class="book-card" *ngIf="book$ | async as book">
        <div class="title-wrapper">
            <h2>{{ book.title | uppercase}}</h2>
        </div>
        <div class="card-content">
            <div class="informations-wrapper">
                <div class="informations-container">
                    <span class="bold">Auteur: </span>
                    <span class="bold">Illustrateur: </span>
                    <span class="bold">Editeur: </span>
                    <span class="bold">Collection: </span>
                </div>


                <div class="informations-container">
                    <span>{{ book.author.fullName }}</span>
                    <span>{{ book.illustrator.fullName }}</span>
                    <span>{{ book.editor.name }}</span>
                    <span>{{ book.collection.name }}</span>
                </div>
            </div>  
            <div class="buttons-container">
                <button class=" validation-button"(click)="onUpdateBook()">Modifier</button>
                <button class="base-button delete-button" (click)="onDeleteBook()">Supprimer</button>
            </div>
        </div>
    </div>
</ng-container>

<div class="update-book-form" *ngIf="isModified">
    <div class="previous-arrow-container">
        <button class="previous-button" (click)="onHide()">
            <span>&#11013;</span>
        </button>
    </div>
    <div class="update-form-inputs-container">
        <h3 class="update-form-header">MODIFIER LE LIVRE</h3>
        <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
                <label class="bold" for="title">Titre*:</label>
                <input class="update-form-input" id="title" type="text" placeholder="Ex: Les 3 mousquetaires" formControlName="title" [value]="title$ | async"/>
                <span *ngIf="(title$ | async) == ''">Le titre est requis</span>
            </div>
            <div class="form-group">
                <label class="bold" for="author-name">Auteur*:</label>
                <input class="update-form-input" id="author-name" type="text" placeholder="Ex: Nadine Biloivanenko" formControlName="authorName" [value]="authorName$ | async"/>
            </div>
            <div class="form-group">
                <label class="bold" for="illustrator-name">Illustrateur*:</label>
                <input class="update-form-input" id="illustrator-name" type="text" placeholder="Ex: Quentin Blake" formControlName="illustratorName" [value]="illustratorName$ | async"/>
            </div>
            <div class="form-group">
                <label class="bold" for="editor-name">Editeur*:</label>
                <input class="update-form-input" id="editor-name" type="text" placeholder="Ex: Gallimard" formControlName="editorName" [value]="editorName$ | async"/>
            </div>
    
            <div class="form-group">
                <label class="bold" for="collection-name">Collection*:</label>
                <input class="update-form-input" id="collection-name" type="text" placeholder="Ex: Hachette" formControlName="collectionName" [value]="collectionName$ | async"/>
            </div>
            <div class="action-buttons">
                <button class="validation-button submit-button" type="submit" [disabled]="updateForm.invalid">Valider</button>
            </div>
        </form>      
    </div>
</div>

<app-toast [message]="message" *ngIf="success"></app-toast>
