.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 230px;
  }
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

  button {
    background-color: transparent;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: lightgray 0 0 5px;
    }
    &:hover {
      background-color: #EEE;
    }
  }