@import 'colors';
@import 'mixins';

.landing-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 230px;
  }
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }

  button {
    @include styleButton($lightWhite);
    color: $black;
    padding: 5px 10px;
    box-shadow: $lightGrey 3px 3px 7px;
    font-size: 18px;
    &:active {
      transform: translate(1px, 1px);
      box-shadow: $lightGrey 0 0 5px;
    }
  }