  input {
    height: 48px;
    width: 280px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 16px;
  }
  
  input {
    font-family: 'Segoe UI';
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
    border: 2px solid #46B7B2;
  }
  
  
  