nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 25%;
    height: 30px;
}

button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    color: black;
    border: 0.5 solid;
    border: 1px solid #E9E9E9;
    height: 40px;
    width: 40px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background: darken(#EEEEEE, 10%)
      }
}

button:focus {
    background-color: #46B7B2;
    color: white;
  }