@import 'colors';
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 25%;
    height: 30px;
}

button {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightWhite;
    color: $black;
    border: 0.5 solid;
    border: 1px solid $snowBank;
    height: 40px;
    width: 40px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        background: darken($lightWhite, 10%)
      }
}

button:focus {
    background-color: $fontainBlue;
    color: $white;
  }