<nav class="tablet-navigation">
    <div class="img-container">
        <img src="assets/logos/mylib-header-logo.png" alt="mylib logo">
    </div>

    <div class="links-wrapper">
        <div class="link-row">
            <div class="link-container">
                <span class="icon-home"></span>
                <a routerLink="/" routerLinkActive="active">Accueil</a>
            </div>
        </div>

        <div class="link-row">
            <div class="link-container">
                <span class="icon-books"></span>
                <a routerLink="books" routerLinkActive="active">livres</a>
            </div>
        </div>

        <div class="link-row">
            <div class="link-container">
                <span class="icon-plus"></span>
                <a routerLink="/create" routerLinkActive="active">Ajouter</a>
            </div>
        </div>


    </div>

</nav>