$fontainBlue: #46B7B2;
$gradientBlue: linear-gradient(90deg, rgba(70,183,178,1) 21%, rgba(31,121,177,1) 100%);
$white: white;
$black: black;
$grey: grey;
$headerLinkGrey: #666;
$headerLinkActiveGrey: #333;
$lightWhite: #EEE;
$contentGrey: #8C8C8C;
$successMessageGreen: #3FA34D;
$lightGrey: lightgray;
$silver: #C6C6C6;
$lighterSilver: #c0c0c0;
$phillipineSilver: #B6B6B6;
$spanishGrey: #939393;
$darkLiver: #4E4D4D;
$transparent: transparent;
$lightSilver: #D1D1D1;
$snowBank: #E9E9E9;
$persimmon: #FF5757;
$redStone: #DF676D;
$lightGreen: #3FA34D;