@import 'colors';
@import 'buttons';

@mixin styleButton($color){
    @extend %button;
    background-color: $color;
    color: $white;
    &:hover {
        background: darken($color, 10%)
      }  
}