$fontainBlue: #46B7B2;
$gradientBlue: linear-gradient(90deg, rgba(70,183,178,1) 21%, rgba(31,121,177,1) 100%);
$white: white;
$black: black;
$headerLinkGrey: #666;
$headerLinkActiveGrey: #333;
$headerBackgroundColor: #EEE;
$contentGrey: #8C8C8C;
$successMessageGreen: #3FA34D;