h3 {
    font-size: 0.9rem;
}

.card {
    box-sizing: border-box;
    width: 100%;
    box-shadow: lightgray 4px 4px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 320px;
}

.title-container {
    background: linear-gradient(90deg, rgba(70,183,178,1) 21%, rgba(31,121,177,1) 100%);
}

.book-title {
    color: white;
}

.bold {
    font-weight: 600;
}

.book-title {
    text-align: center;
}

.informations-container {
    padding: 0 30px 20px 30px;
}

.information-row {
    display: flex;
    width: 75%;
    justify-content: flex-start;
}

.information-field {
    margin-right: 10px;
}

.grey {
    color: #C6C6C6;
}

.darkGrey {
    color: #4E4D4D;
}

.button-container {
    display: flex;
    justify-content: center;
}

.more-info-button {
    background-color: #46B7B2;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    &:hover {
        background: darken(#46B7B2, 10%)
      }
}