h3 {
    font-size: 0.9rem;
}

.card {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 30px;
    box-shadow: lightgray 4px 4px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 345px;
}

.bold {
    font-weight: 600;
}

.book-title {
    text-align: center;
}

.grey {
    color: #C6C6C6;
}

.button-container {
    display: flex;
    justify-content: center;
}

.more-info-button {
    background-color: #46B7B2;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    &:hover {
        background: darken(#46B7B2, 10%)
      }
}