@import 'colors';
@import 'mixins';

.form-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: $lightGrey 4px 4px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      color: $fontainBlue;
    }
  }

  .previous-button-container, .header-previous-button-container {
    width: 100%;
    
    a {
      text-decoration: none;
    }

    span {
      cursor: pointer;
      color: $headerLinkGrey;
      font-size: 35px;
    }
  }

  .header-previous-button-container {
    display: none;
  }

  .form {
    width: 60%;
  }
  
    .form-group {
      margin: 10px auto;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .input-container {
      display: flex;
      flex-direction: column;
    }

    .error-message {
      color: $persimmon;
      font-size: 10px;
      font-style: italic;
    }

    .form-input {
      height: 25px;
      border-radius: 5px;
      border-width: 0.7px;
      border-color: $lightSilver;
    }
    
    .form-input:focus {
      outline: none;
      border: 2px solid $fontainBlue;
    }

    .bold {
      font-weight: 600;
    }

    .label-color {
      color: $headerLinkGrey;
    }
    
    .action-buttons {
      width: 100%;
    }
    
    button {
      @include styleButton($fontainBlue);
      display: block;
      margin: 20px auto;
      padding: 10px;
      width: 82%;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border: 2px solid $persimmon;
  }
  
  .form-control.ng-untouched,
  .form-control.ng-valid {
      border-color: red !important;
  }

  @media only screen and (max-width: 600px) {

    .form-card {
      width: 90%;
      height: 95%;
    }

    .previous-button-container {
      display: none;
    }

    .header-previous-button-container {
      display: block;
    }

    .form {
      width: 100%;
      label {
        margin-bottom: 15px;
      }
    }
    
    .form-group {
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      input {
        width: 100%;
        height: 35px;
      }
    }
  }