@import 'colors';
@import 'mixins';

.form-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: $lightGrey 4px 4px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      text-align: center;
      color: $fontainBlue;
    }
  }

  .previous-button-container {
    width: 100%;
    
    a {
      text-decoration: none;
    }

    span {
      cursor: pointer;
      color: $headerLinkGrey;
      font-size: 35px;
    }
  }

  .form {
    width: 60%;
  }
  
    .form-group {
      margin: 10px auto;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .form-input {
      height: 25px;
      border-radius: 5px;
      border-width: 0.7px;
      border-color: $lightSilver;
    }
    
    .form-input:focus {
      outline: none;
      border: 2px solid $fontainBlue;
    }

    .bold {
      font-weight: 600;
    }

    .label-color {
      color: $headerLinkGrey;
    }
    
    .action-buttons {
      width: 100%;
    }
    
    button {
      @include styleButton($fontainBlue);
      display: block;
      margin: 20px auto;
      padding: 10px;
      width: 82%;
  }
